* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
 .nav-bar {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-items: center;
  margin-top: 10px;
  margin-bottom: 5px;
 }

 .nav-logo {
  justify-self: center;
 }

main {
  background-color: #495E57;
}

footer {
  background-color: lightgray;
}

.nav-bar a {
  text-decoration: none;
  color: black;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

li {
  padding: 5px;
}

section {
  display: grid;
  grid-template-columns: repeat(2, 500px);
  justify-content: center;
  padding-top: 20px;
  padding-left: 30px;
}

.spec-btn {
  display: flex;
  background-color: #FFFFFF;
  justify-content: center;
  gap: 550px ;
  padding-top: 50px;
}

.spec-btn button {
  background-color: #F4CE14;
  color: #181717;
  padding: 10px;
  border: none;
  font-family: inherit;
  border-radius: 10px ;
}

.spec-btn button:hover{
  background-color: #495E57;
  color: #FFFFFF;
}

.card-sec {
  display: flex;
  background-color: #FFFFFF;
}

.border {
  background-color: rgb(238, 234, 234);
  justify-content: center;
  border-radius: 10px;
  margin: 30px;
  padding: 20px;
  font-size: small;
  width: 200px;
}

.border img {
  width: 100%;
}

.box3 img {
  object-fit: fill;
}

.summary {
  padding-left: 90px;
}

.summary button {
  background-color: #F4CE14;
  color: #181717;
  padding: 10px;
  border: none;
  font-family: inherit;
  border-radius: 10px ;
  margin-top: 80px;
  margin-bottom: 80px;
}

.summary button:hover{
  background-color: #FFFFFF;
}

.summary h2 {
  color: #F4CE14;
}

.summary p {
  color: #FFFFFF;
}

.summary img {
  height: 300px;
  width: 250px;
  border-radius: 20px;
}

@media only screen and (max-width: 480px) {
  /* styles for devices with a maximum screen width of 480px */
  }